/*MAIN*/

*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-size: 1.00em;
	line-height: 1.00em;
	font-family: Helvetica, Arial, Sans-Serif;
	color: #111111;
	padding-top: 80px;
	margin: 0px;
}

img {
	padding: 0px;
        display: block;
	margin: 0px;
}

header {
	background-image: linear-gradient(#2b7029, #315928);
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0px;
	text-align: left;
}

h1 {
	color: #FFFFFF;
	padding-left: 22px;
	padding-top: 15px;
	text-align: left;
	font-size: 1.95em;
}

h2 {
	color: #FFFFFF;
	padding-right: 22px;
	padding-top: 14px;
	text-align: right;
	font-size: 1.95em;
}

a {
	text-decoration: none;
	color: #EEEEEE;
}

p {
	margin: 15px;
}

footer {
	font-size: .80em;
	position: static;
	margin-bottom: 10px;
	margin-left: 10px;
}

table {
	width: 100%;
	text-align: left;
	margin: 0px;
	padding: 0px;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0px;
}

:root {
	--bar-width: 60px;
	--bar-height: 8px;
	--hamburger-gap: 6px;
	--foreground: #FF0000;
	--background: #666666;
	--hamburger-margin: 5px;
	--animation-timing: 200ms ease-in-out;
}

.hamburger-menu {
	display: flex;
	flex-direction: column;
	gap: var(--hamburger-gap);
	width: max-content;
	margin: 8px;
	//can put position information here top and right (can use --hamburger-margin)//
	z-index: 2;
	cursor: pointer;

}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
	content: "";
	width: var(--bar-width);
	height: var(--bar-height);
	background-color: var(--foreground);
}

.hamburger-menu input {
	appearance: none;
	padding: 0;
	margin: 0;
	outline: none;
	pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {

}

.hamburger-menu input:checked {
	background: #0000FF;
}

.sidebar {
	transition: translate var(--animation-timing);
	translate: -100%;
	padding-left: 0.5rem;
	padding-top: calc(var(--hamburger-height) + var(--hamburger-margin));
	color: var(--background);
	background-color: var(--foreground);
	max-width: 10rem;
	min-height: 100vh;
}

.hamburger-menu:has(input:checked) + .sidebar {
	translate: 0;
}